.cta-button{
    background-color: #ffffff;
    color: #4c00ff;
    
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    border: 1px solid #4c00ff;
    margin: 0 10px;
}