.NextButton{
    width: 12rem;
    height: 3rem;
    color: white;
    border-radius: 10px;
    background-color: #6638ff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto medium';
    cursor: pointer;
}