.NavigationWizard{
    display: flex;
    position: fixed;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(201, 201, 201, 0.606);
    height: 2.3rem;
    z-index: 100;
}

.NavigationOption {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.5rem;
    height: 2.3rem;
}
.ThreeBarsIcon {
    color: rgb(46, 46, 46);
}

.NavWizardMenu{
    display: flex;
    flex-direction: column;
    z-index: 1000;
    padding-right: 0.5rem;
}

@media (min-width:768px) {
    .NavWizardIcon{
        display: flex;
    }
    .NavWizardMenu{
        display: flex;
    }
    .MenuIcon{
        display:flex;
    }
    .MenuWizard{
        width: 30%;
    }
}
