.AnteriorButton {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  outline: none;
}

.Icon {
  color: #a3a3a3;
  height: 48px;
  transition: color 0.3s, font-weight 0.3s;
}

.AnteriorButton:hover .Icon{
  color: #666;
  font-weight: bold; 
}


@media (min-width:768px) {
  .AnteriorButton{
    display: inline-block;
  }
}