.AnteriorButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  outline: none;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000; /* or any number that puts the button above other elements */
}

.Icon {
  color: #a3a3a3;
  height: 48px;
  transition: color 0.3s, font-weight 0.3s;
}

.AnteriorButton:hover .Icon{
  color: #666;
  font-weight: bold; 
}


@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


@media (min-width:768px) {
  .AnteriorButton{
    display: inline-block;
    padding-left: 2%;
  }
}