.ProgressBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    padding: 3px 12px 3px 12px;
    border: 2px solid rgb(30, 30, 30);
    background-color: rgb(205, 196, 255);
    border-radius: 5px;
}

.NextButtonDisabled{
    cursor: not-allowed;
    color: gray;
    border-color: gray;
    background-color: rgb(222, 222, 222);
}

@media (min-width: 768px) {
    .ProgressBar{
        width: 80%;
    }
}

