.ProgressBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    padding: 11px 15px 11px 15px;
    background-color: rgba(200, 200, 223, 0.53);
    border-radius: 30px;
}

.NextButtonDisabled{
    cursor: not-allowed;
    color: gray;
    border-color: gray;
    background-color: rgb(222, 222, 222);
}

@media (min-width: 768px) {
    .ProgressBar{
        width: 90%;
    }
}

