.StepButton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 3rem;
    height: 2.5rem;
    color: rgb(111, 111, 111);
    background-color: #ffffff;
    border: 3.5px solid #ff8000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    box-shadow: inset 0 0 5px 1px rgb(164, 164, 164);   
}


@media (min-width: 768px){
    .StepButton{
        height: 3rem;
        width: 3.8rem;
    }
}