.MultiStepWizard{
    height: auto;
    width: 100%;
    position: relative;
}

.FormWizardContent{
    width: 100px;
}

.PromptBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
}

.SubmitPrompt{
    display: flex;
    position: fixed;
    top: -8%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.FormBox{
    display: flex;
<<<<<<< HEAD
    margin-left: 0.1rem;
=======
    margin-left: 1rem;
>>>>>>> 7607c33d90f5dc17b8f2a1800f853a5e233afa7e
}

.StepButtonFixed{
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    cursor: pointer;
    font-size: 20px;
    color: rgb(81, 81, 81);
}

.SubmitLastStep{
    position: fixed;
    top: 7%;
    left: 1%;
}

.pibe{
    display: none;
    height: 300px;
    width: 100%;
}



@media (min-width:768px) {
    .StepButtonFixed{
        display: inline-block;
        width: 25%;
        margin-top: 20px;
    }
    .StepButtonPrev {
        left: 50%;
        transform: translateX(-75%);
    }
    .AnteriorButton{
        position: fixed;
        left: 15px;
        top: 45%;
    }
    .SubmitPrompt{
        top: 15%;
    }
    .pibe{
        display: inline-block;
    }

}
