.MultiStepWizard{
    height: auto;
    width: 100%;
    position: relative;
}

.PromptBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
}
.NextButton{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


@media (min-width:768px) {
    .NextButton{
        width: 20%;
        margin-top: 20px;
    }
    .ProgressBar{
        width: 90%;
    }
}
