nav{
    height: 3.3rem;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.menu-icon{
    margin-top: 0.25rem;
    cursor: pointer;
    color:white;
}

.nav-menu{
    display: block;
    position: absolute;
    top: 3.3rem;
    right: 0;
    width: 75vw;
    height: 100vh;
    background-color: #303030;
    color: white;
    z-index: 1;
    visibility: hidden;
    transform: translateX(100%);
    overflow: auto;
    transition: transform 0.4s ease-out, visibility 0s 0.5s;
}


.nav-menu.active{
    transform: translate(0);
    visibility: visible;
    display: block;
    transition: transform 0.6s ease-out, visibility 0s;
}
.nav-menu .nav-item{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 10vh;
}
.navbar-social{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.navbar-desktop{
    display: none;
}
.navbar-desktop ul{
    display: none;
}
.cta-button-navbar{
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.cta-button{
    border: 2px solid white;
}

@media (min-width:768px) {
    nav{
        background-color: #6638ff;  
    }
    .nav-menu{
        display: none;
    }
    .nav-menu.active{
        display: none;
    }

    .menu-icon{
        display: none;
    }
    .navbar-desktop{
        display: flex;
        padding: 0 0.8rem;
    }
    .navbar-desktop ul{
        display:flex;
        list-style: none;
        gap: 2rem;
        flex-direction: row;
        color: white;
    }
    
}