nav{
    height: 3.3rem;
    max-height: 3.3rem;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.logoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.logoContainer img{
    width: 50px;
    height: 50px;
}

.navbarDesktop{
    display: none;
}
.navbarDesktop ul{
    display: none;
}
.CtaNavbar {
    background-color: #fe9941;
    pointer-events: none;
    width: 6rem;
    height: 1.8rem;
    opacity:0;
    padding: 0.01rem;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-20px);
}

.CtaNavbar.active{
    display: flex;
    pointer-events: auto;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 0.5s ease;
}

@media (min-width:768px) {
    nav{
        background-color: #8a77f5f9;  
    }
    .logoContainer{
        position: absolute;
        left: 2rem;
    }
    .navbarContainer{
        justify-content: center;
    }
    .navbarDesktop{
        display: flex;
        align-items: center;
        padding: 0;
    }
    .navbarDesktop ul{
        display:flex;
        list-style: none;
        font-size: 0.8rem;
        gap: 1.2rem;
        text-align: center;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        flex-direction: row;
        color: rgb(255, 255, 255);
    }

    .CtaNavbar{
        width: 8rem;
        height: 2rem;
        font-weight: 500;
        font-size: 20px;
    }
    .NavMenu{
        display: none;
    }
    .MenuIcon{
        display: none;
    }

}

@media screen and (min-width:768px) and (max-width:960px) {

    .navbarDesktop ul{
        margin-left: 12rem;
    }
}