
.NavItem{
    display: flex;
    height: 2rem;
}

.NavbarSocial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1rem;
}
