.footer-social-logo{
    /* this component wraps the followus, footer social and the 
    footer logo*/
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer-logo{
    /* this component wraps the footer logo */
    display: none;
}


@media (min-width: 768px) { 
    .footer-logo{
        display: flex;
        flex-direction: row;
        margin-left: 0.61rem;
    }
    .footer-social-logo{
        display: flex;
        flex-direction: column;
    }
    
}