.PersonalDataForm{
    display: flex;
    width: 300px;
    align-items: center;
    flex-direction:column;
    padding-top: 2rem;
}

@media (min-width:768px) {
    .PersonalDataForm{
        width: 700px;
    }
}