/*
    Why does the header is not taking the full width of the page?
    Because the header is inside a container, and the container has a max-width of 1200px.
*/

.homepage-header{
    background:linear-gradient(180deg, #6638ff 67.71%, rgba(68, 0, 255, 0) 100%);
    height: 25rem;
    color: white;
    padding: 1.5rem 1rem 0.2rem 1rem;
    text-align: center;
    margin-top: 3.3rem;
}
.homepage-header h1{
    font-family: 'Utopia-BoldOsF';
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}
.homepage-header p{
    font-family:'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

.homepage-header button{
    margin-top: 1.3rem;
}