
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@font-face {
  font-family: 'Utopia-BoldOsF';
  src:local('Utopia'), url('./assets/fonts/Utopia/Utopia-BoldOsF.otf') format('opentype');
};


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto slab', sans-serif;
}

* {
  box-sizing: border-box;
}

